<!-- <p>get-details works!</p> -->



<form [formGroup]="myForm" (ngSubmit)="Send()" class="getDetails">
    <div>
            <label >Enter the flight id</label>
            <input class="form-control" type="text" 
            formControlName="fid"/>
            <span *ngIf="fid.errors && fid.touched">
                    <span class="alert alert-danger"  *ngIf="fid.errors.required">id cannot be empty</span>
            </span>  
            <br><br>
            <button class="btn btn-success">Submit</button>
    </div>
</form>
<!-- {{value}} -->
<div>
        <router-outlet></router-outlet>
</div>
