.getDetails{
    width: 500px;
    height: 500px;
    position: relative;
    left: 30%;
    margin-top: 10%;
}

label{
    font-size: 22px;
    color: darkblue;
}
.btn-success{
    position: relative;
     width: 500px;
}